@{
    ViewBag.Title = "Forgot Password";
}

<div class="forgotPassForm">
    <h3>@ViewBag.Title</h3>

    @if (TempData.ContainsKey("Success"))
    {
        <div class="form-group">
            <div class="login-msg-suc msg-cnt">@TempData["Success"].ToString()</div>
        </div>
        <a href="/" class="btn">Go Back To Menu</a>
    }
    else
    {
        using (Html.BeginForm("SubmitValuesForgot", "ForgotPass", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    Please enter your details to reset your password.
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    @Html.TextBox("Employee_Fname", "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    @Html.TextBox("Employee_Lname", "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Birth Date</label>
                    @Html.TextBox("Birth_Date", "", new { @class = "form-control", type = "date" })
                </div>



                <div class="form-group">
                    <label>Mobile Number</label>
                    @Html.TextBox("Personal_Mobile_Number", "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn" />
                </div>

                @if (ViewData.ContainsKey("Message"))
                {
                    <div class="login-msg msg-cnt">@ViewData["Message"].ToString()</div>
                }
            </div>
        }
    }
</div>
