@{
    ViewBag.Title = "Reset Password";
}

<script>
    window.onload = () => {
        const myInput = document.getElementById('ConfirmPassword');
        const newpass = document.getElementById('NewPassword');
        const togglers = document.querySelectorAll('.fas.fa-eye');

        // Toggle password visibility
        const showHidePassword = (e) => {
            const input = e.currentTarget.previousElementSibling;
            if (input.type == 'password') {
                input.setAttribute('type', 'text');
                e.currentTarget.classList.add('fa-eye-slash');
            } else {
                e.currentTarget.classList.remove('fa-eye-slash');
                input.setAttribute('type', 'password');
            }
        };
        togglers.forEach(tglr => tglr.addEventListener('click', showHidePassword));

        let password = '';
        newpass.addEventListener('input', (e) => {
            password = e.currentTarget.value;
            if (!password.length) {
                $('input[type="submit"].btn').addClass('btnDisabled');
                return;
            }

            const regEXs = {
                regSpChar: () => ({ fulfilled: /[^0-9A-Za-z]/.test(password), li: 'sc' }),
                regCapital: () => ({ fulfilled: /[A-Z]/.test(password), li: 'cl' }),
                regNumber: () => ({ fulfilled: /[0-9]/.test(password), li: 'nc' }),
                eightC: () => ({ fulfilled: password.length >= 8, li: 'el' })
            };

            for (const regEx in regEXs) {
                const { fulfilled, li } = regEXs[regEx]();
                const liElem = document.querySelector(`[data-id="${li}"]`);
                fulfilled ? liElem.classList.add('fulfilled') : liElem.classList.remove('fulfilled');
            }

            const allFulfilled = [
                regEXs.eightC().fulfilled,
                regEXs.regSpChar().fulfilled,
                regEXs.regCapital().fulfilled,
                regEXs.regNumber().fulfilled
            ].every(reg => reg);

            allFulfilled ?
                (document.querySelector('.passRequirements').classList.add('fulfilled'),
                 myInput.value.length >= 8 && $('input[type="submit"].btn').removeClass('btnDisabled')) :
                (document.querySelector('.passRequirements').classList.remove('fulfilled'),
                 $('input[type="submit"].btn').addClass('btnDisabled'));
        });

        myInput.addEventListener('input', (e) => {
            e.currentTarget.classList.remove('err');
            e.currentTarget.parentNode.classList.remove('err');
            if (newpass.value === '') return;
            e.currentTarget.value.length >= 8 ?
                $('input[type="submit"].btn').removeClass('btnDisabled') :
                $('input[type="submit"].btn').addClass('btnDisabled');
        });

        const spChar = /[^0-9a-zA-Z]/;
        const numChar = /[0-9]/;
        const capChar = /[A-Z]/;

        $('input[type="submit"].btn').on('click', (e) => {
            if ([!capChar.test(password), !numChar.test(password), !spChar.test(password), !(password.length >= 8)].some(regEx => regEx)) {
                e.preventDefault();
                return;
            }
            if (myInput.value !== newpass.value) {
                e.preventDefault();
                myInput.classList.add('err');
                myInput.parentNode.classList.add('err');
            } else {
                myInput.classList.remove('err');
            }
        });
    }

    @if (TempData["Success"] != null)
    {
        var url = Url.Action("Index", "Login");
        <text>
            setTimeout(function () {
                window.location.href = "@url";
            }, 3000);
        </text>
    }
</script>

<div class="resetPassForm">
    <h2>Set New Password</h2>
    @using (Html.BeginForm("SubmitNewPass", "ForgotPass", FormMethod.Post))
    {
        <div class="form-horizontal">
            <div class="form-group" style="position: relative;">
                <label class="control-label">New Password</label>
                <div class="col" style="position: relative;">
                    @Html.Password("NewPassword", "", new { @class = "form-control", id = "NewPassword" })
                    <i class="fas fa-eye" id="togglePass"></i>
                </div>
            </div>

            <div class="form-group" style="position: relative;">
                <label class="control-label">Confirm Password</label>
                <div class="col" style="position: relative;">
                    @Html.Password("ConfirmPassword", "", new { @class = "form-control", id = "ConfirmPassword" })
                    <i class="fas fa-eye" id="togglePass2"></i>
                    <span class="notMatchy">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <span>Passwords do not match!</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2" style="text-align: end;">
                    <input type="submit" value="Submit" class="btn btnDisabled" />
                </div>
            </div>

            <div class="passRequirements">
                <p>Password requirements:</p>
                <ul>
                    <li data-id="sc">At least one special character</li>
                    <li data-id="nc">At least one number</li>
                    <li data-id="el">At least 8 characters</li>
                    <li data-id="cl">At least one capital letter</li>
                </ul>
            </div>

            @if (ViewData.ContainsKey("Message"))
            {
                <div class="login-msg">@ViewData["Message"].ToString()</div>
            }

            @if (TempData.ContainsKey("Message"))
            {
                <div class="login-msg-suc">@TempData["Message"].ToString()</div>
            }
        </div>
    }
</div>
