@using System.Web.Optimization;
@{
    var PriveList = (List<int>)Session["UserRights"] ?? new List<int> { 1 };
    bool ext_bool = PriveList.Any(x => x == (int)WebApplicationUnipi.Models.Enums.Privileges.HR_Admin
                                || x == (int)WebApplicationUnipi.Models.Enums.Privileges.HR_Employee);


    string isItHome = Request.Url.PathAndQuery;
    var over = Session["timerOn"];


}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @* Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @* Favicon *@
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#909090">
    <meta name="theme-color" content="#ffffff">


    @Styles.Render("~/bundles/hubStyle")
    <link rel="stylesheet" href="~/css/categories/registrater.css" />
    @*<link href="~/bundles/hubStyle?v=@Guid.NewGuid().ToString("N")" rel="stylesheet" />*@

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/hubScripts")

    @Scripts.Render("~/bundles/bootstrap")

    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.CardView },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
        )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.CardView },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )

    @* flatpickr *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/plugins/monthSelect/style.min.css" integrity="sha512-0JlDCDlUxU5B7kllNogicdSfBNu6tESGzdazhpG2Jx0c910DITw13jCxilcuv70bgquX2Z1OwhTNZYDNO2mOTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/plugins/monthSelect/index.js"></script>

    @* luxon *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.0/luxon.min.js" integrity="sha512-2j5fkjQ4q5ceXgfxi+kqrU2Oz234MrpyywZsQz1F5OGnfat7mOhjRr0oz5cpQ+YwwWB+hhDBSyxNGuL/tKWMFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @* selectize.js *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js" integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap2.css" integrity="sha512-NkKdMfG7MzwPkAqUdt+Vu3Ogx6NDda/P1N6dIGiQcGCtZuA22wIreJYP7I7G06yQAfomG3+8qZwUjKfhR1p/+Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QSDRRHSLZ6"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-QSDRRHSLZ6');</script>
    <script>
        function OnExpandCollapseExecute(s, e) {
            debugger;
            if (e.item.name == "CustomFullExpand") {
                var gv = ASPx.GetControlCollection().Get(s.name);
                gv.gridCallBack([ASPxClientGridViewCallbackCommand.ShowAllDetail]);
            } else if (e.item.name == "CustomFullCollapse"){
                var gv = ASPx.GetControlCollection().Get(s.name);
                gv.gridCallBack([ASPxClientGridViewCallbackCommand.HideAllDetail]);
            }
            debugger;
        }

        $(document).ready(function () {
            //variables
            let external_bool = @ext_bool.ToString().ToLower();
            let compList;
            let userRights = [];
            //let external_bool = @ext_bool.ToString().ToLower();
            let loc = "@isItHome"; //get current path
            let myWorker;
            let refresh = false;
            let sessionTime = "@over";
            const timeoutMsg = `<div class="login-msg-suc">Your session has expired! Please login again.</div>`;

          

            if (localStorage.getItem('session') === 'over') {
                $(".loginForm .form-horizontal").append(timeoutMsg);
                localStorage.removeItem('session');
            }

            //connection to web worker
            const isSession = (a, b) => {
                if (a != "") {
                    var over = a;
                    var extra = b;

                    myWorker = new SharedWorker("/Content/js/myWorker.js");
                    myWorker.port.start();
                    myWorker.port.postMessage({ reply: over, extra: extra });
                    myWorker.port.onmessage = function (a) {
                        //console.log(a.data);
                        if (a.data.reply == "over") {
                            refresh = true;
                            localStorage.setItem('session', 'over');
                            $(".sesPopup").fadeIn();
                            setTimeout(() => { location.reload(); }, 3000);
                        }
                    };
                }
            };

            isSession(sessionTime, "start");

            //build side menu
            function buildComponents() {
                compList.home.sort((a, b) => a.text.localeCompare(b.text));
                for (let i = 0; i < compList.home.length; i++) {
                    let comp;
                    if ((compList.home[i].rights === undefined || compList.home[i].rights.length == 0) && !external_bool) {
                        comp = `<a href=@Url.Content("~")${compList.home[i].controller}/${compList.home[i].view} data-title="${compList.home[i].text}"><div class="compList-item">${compList.home[i].icon}<div class="hideTxt">${compList.home[i].text}</div></div></a>`;
                    }
                    else {
                        for (let j = 0; j < compList.home[i].rights.length; j++) {
                            for (let x = 0; x < userRights.length; x++) {
                                if (userRights[x] == compList.home[i].rights[j]) {
                                    comp = `<a href=@Url.Content("~")${compList.home[i].controller}/${compList.home[i].view} data-title="${compList.home[i].text}"><div class="compList-item">${compList.home[i].icon}<div class="hideTxt">${compList.home[i].text}</div></div></a>`;
                                }
                            }
                        }
                    }
                    $(".sideMenu").append(comp);
                }
                setTimeout(function () {
                    $(".compList a").length > 5 ? $(".compList").addClass("maxSize") : $(".compList").removeClass("maxSize");
                }, 40);
            }

            //hide sidemenu for urls without login required
            if (sessionTime === "" || loc === "/") {
                $(".sideMenu").addClass("hideMenu");
                $(".breadcrumbs").addClass("hideMenu");
                $(".view-content").removeClass("smallMnView");
            }
            else {
                $(".sideMenu").removeClass("hideMenu");
                $(".breadcrumbs").removeClass("hideMenu");
                $(".view-content").addClass("smallMnView");
            }

            //add style to active side menu button
            function itemSelection() {
                let title = "@ViewBag.Title";

                $(".sideMenu a").each(function (index, value) {
                    let menuItem = $(this).find("div").find("div").html();
                    //console.log(menuItem[1].replace("<div>", "").replace("</div>", ""));
                    if (menuItem == title) {
                        $(this).find("div").addClass("selectedItem");
                    }
                });
            }

            //small menu icon click
            $(document).on('click', '#menu-icon', sideMenuToggle);

            //refresh page after OK click from pop-up
            //$(document).on('click', '.sesPopup-box-btn', function () {
            //    if (refresh) {
            //        location.reload();
            //    }
            //    $(".sesPopup").fadeOut();
            //});

            @{ if (Session["username"] != null) //user logged in
                {
                    <text>
                        $("header").addClass("userIn");
                        $("footer").addClass("userIn");


                        userRights = "@string.Join(",", PriveList)".split(",");

                        $.getJSON('@Url.Content("~")Content/js/homeList.json', function (data) {
                            compList = data;
                        }).done(function () {
                            buildComponents();
                            itemSelection();
                        });
                    </text>
                }
            }

            //update session
            $(document).on("click", ".sessionUpdate", function () {
                //end web worker
                isSession(sessionTime, "close");

                //restart web worker
                setTimeout(function () {
                    isSession(sessionTime, "start");
                }, 200);
            });

        });
    </script>
</head>
<body>

    <header>
        <div class="head-content">

            <div class="userBox">
                <div class="logMsg ">Hi @Session["EmployeeName"]!</div>
                <div class="userBox__actions">


                    @if (ext_bool)
                    {

                        <div class="prof"> <a href="@Url.Action("Index", "MyProfile")"></a></div>
                    }


                        <a class="logOut" href="@Url.Action("Logout", "Login")"></a>
                    </div>
            </div>
        </div>
    </header>


    <div class="body-content">
        <div class="loader">
            <div class="loader__svgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background:transparent;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" fill="#93c47d">
                    <circle class="c1" cx="12" cy="50" r="7"></circle>
                    <circle class="c2" cx="36" cy="52" r="7"></circle>
                    <circle class="c3" cx="60" cy="53" r="7"> </circle>
                    <circle class="c4" cx="84" cy="53" r="7"></circle>
                </svg>
                <span>Loading...</span>
            </div>
        </div>
        <div class="sideMenu smallMenu hideMenu">
            @*<div id="menu-icon">
                    <div id="menu_button">
                        <input type="checkbox" id="menu_checkbox">
                        <label for="menu_checkbox" id="menu_label">
                            <div id="menu_text_bar"></div>
                        </label>
                    </div>
                </div>*@
            <div id="menu-icon" class="icon nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="view-content smallMnView">
            <div class="breadcrumbs hideMenu">@Html.MvcSiteMap().SiteMapPath()</div>
            @RenderBody()
        </div>
    </div>

    <footer class="container-footer">
        <div class="version">@System.Configuration.ConfigurationManager.AppSettings["Version"] &copy; @DateTime.Now.Year - WebApplicationUnipi</div>
    </footer>

    <div class="sesPopup">
        <div class="sesPopup-box">
            <div class="sesPopup-box-txt">
                <span>Your session has expired!<br>Please login again.</span>
            </div>
            @*<div class="sesPopup-box-btn">
                    <span>OK</span>
                </div>*@
            <div class="sesPopup-box-loader"></div>
        </div>
    </div>
    <script>
        const archivesTab = document.getElementById('archivesTab');
        archivesTab && archivesTab.addEventListener('click', (e) => (e.target.id === 'download5Arc' || e.target.id === 'downloadArc') && escapeBeforeUnload());
    </script>

</body>
</html>
